body {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #555555;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

/* TitleBar */

.sd-logo {
  background: url('./Images/INCA-Logo-White-Stacked.svg') no-repeat center top;
  background-size: contain;
  background-position-y: 3px;
  cursor: pointer;
  height: 30px;
  margin: 10px;
  width: 95px;
}

.sd-title-text {
  padding: 15px;
  text-transform: uppercase;
  opacity: 0.5;
  text-align: center;
  color: #fff;
  border-left: 1px solid #0e2638;
  border-right: 1px solid #0e2638;
}

.ant-layout-header {
  background-color: #1a374c;
  border-bottom: 1px solid #0e2638;
  height: auto;
  line-height: 21px;
  z-index: 1;
  padding: 0;
}

/* Menu Bar */

/*.sd-nav .sd-nav-item {
  padding: 10px 25px;
  font-size: 16px;
}

.sd-nav .sd-nav-item:hover {
  background: #f7f7f7;
  color: #555555;
}*/

/* Filter */

.sd-global-filter {
  background: #f7f7f7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0;
  z-index: 1;
  padding: 15px;
}

.sd-filter-title {
  font-weight: 600;
  margin-bottom: 5px;
}

.sd-filter-control button {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.sd-filter-control button:first-child {
  width: 150px;
  text-align: left;
  padding: 0 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* Chart */

.sd-main-title {
  font-size: 18px;
  font-weight: 800;
  margin: 0 0 15px;
  font-family: 'thesun-heavy-condensed';
  color: #555555;
}

.sd-overview-chart {
  margin-top: 25px;
}

.sd-overview-chart .recharts-wrapper {
  width: 100%;
}

.recharts-layer.recharts-cartesian-axis-tick text {
  font-family: 'Ubuntu Condensed', sans-serif;
}

/* Overview Table */

.sd-overview-kpi {
  padding: 25px;
  width: 535px;
}

.sd-overview-table {
  padding: 25px;
  background-color: #f7f7f7;
  width: calc(100% - 535px);
  padding-bottom: 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

/* Janani Style */
.sd-filter-col { margin-right: 15px;}

.sd-filter-col:last-child {margin-right:0;}

.sd-global-filter {
   background: #f7f7f7;
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
   margin: 0;
   z-index: 1;
   padding: 15px 25px;
}

.sd-article-cont {
   width: calc(100% - 70px);
}

/* Menu Bar */

.sd-nav {
  background-color: #1a374c;
  line-height: 35px;
  color: rgba(255, 255, 255, 0.6);
}

.sd-nav .sd-nav-item a {
  position: relative;
  color: rgba(255, 255, 255, 0.6);
  padding: 10px 25px;
  font-size: 16px;
  border-right: 1px solid #0e2638;
}


.sd-nav .sd-nav-item a:hover {
  background-color: #334d63;
  text-decoration: none;
  border-bottom: 0;
  color: #ffffff;
}


.ant-menu-item-selected a {
  background-color: #334d63;
  color: #ffffff;
  position: relative;
  border-bottom: 0;
}

.ant-menu-item-selected a:before {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 10px solid #334d63;
  content: '';
  height: 0;
  left: 50%;
  position: absolute;
  top: 48px;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  width: 0;
}

.sd-nav-item {
  padding: 0;
}

.sd-nav .sd-nav-item:hover {
 border-bottom: 0;
}

/**********************************/

/* ArticleID */
.sd-article-id {
  background-color: #eaeaea;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 10px;
  margin-right: 5px;
  padding: 2px 5px;
}

.sd-article-thumb {
  background: url(./Images/sun-favicon.png) no-repeat center top;
  background-size: cover;
  border-radius: 7px;
  height: 43px;
  margin-right: 10px;
  width: 60px;
}

.flex {
  display: flex;
}

/* Section List */

.social {
  color: #8a9af4;
}

.search {
  color: #459ed2;
}

.direct {
  color: #fc906a;
}

.internal {
  color: #4eb695;
}

.business {
  color: #005a8f;
}

.showbiz {
  color: #9c73c1;
}

.news {
  color: #4085cb;
}

.sport {
  color: #308392;
}

.living {
  color: #e465be;
}

.money {
  color: #a64470;
}

.tech {
  color: #9eaabb;
}

.travel {
  color: #ffa111;
}

.motors {
  color: #4d64ce;
}

.other {
  color: #adadad;
}

.times {
  color: #000000;
}

.law {
  color: #ff5722;
}

.world {
  color: #32bed8;
}

.country {
  color: #5438b9;
}

.special {
  color: #bd349d;
}

.fabulous {
  color: #e465be;
}

/* KPI */

.sd-kpi-box {
  width: 100%;
  background: #f7f7f7;
  padding: 15px;
  margin-right: 25px;
  border-radius: 4px;
}

.sd-kpi-box:last-child {
  margin-right: 0;
}

.sd-kpi-metric-value {
  font-size: 30px;
  margin: 0;
}

.sd-kpi-metric-name {
  color: rgba(85, 85, 85, 0.8);
  font-size: 12px;
  margin: 0;
  text-transform: uppercase;
}

/* Overview Table Head */

.sd-table-head {
  border-bottom: 1px solid #555555;
  font-size: 18px;
  padding-bottom: 5px;
  font-family: 'thesun-heavy-condensed';
  color: #555555;
}

/* Overview Table Body */

.sd-article-id {
  background-color: #eaeaea;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 10px;
  margin-right: 5px;
  padding: 2px 5px;
}

.sd-table-article {
  width: calc(100% - 100px);
}

/*.sd-article-cont {
  width: 90%;
}*/

.sd-article-title {
  padding-bottom: 5px;
}

.sd-ellipsed {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sd-table-views {
  font-size: 18px;
  width: 100px;
  text-align: right;
}

.sd-table-row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

.sd-table-section {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  background-color: #e1ebef;
  border-radius: 4px;
  font-size: 10px;
  margin-right: 5px;
  padding: 2px 5px;
}

.sd-published-date {
  color: #005a8f;
  font-size: 10px;
  position: relative;
  top: 2px;
}

.sd-author-name {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding: 2px 5px;
}

.sd-numerics {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: 700;
}

.sd-row:last-child .sd-table-row {
  border-bottom: 0;
}

/* Responsive */

@media screen and (max-width: 1024px) {
  .sd-overview-kpi {
    width: 100%;
  }

  .sd-overview-table {
    width: 100%;
  }
}

/* Loader */

.loader {
  min-height: 400px;
  background: #f7f7f7;
  position: relative;
}

.loader div {
  height: 100%;
}

.loader::before {
  background: url('./Images/INCA-loader.gif') no-repeat center top;
  background-size: contain;
  content: '';
  height: 65px;
  left: 50%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 160px;
}

.loader::after {
  -webkit-transform: translate(-50%, -50%);
  color: #555555;
  content: 'Loading...';
  left: 50%;
  position: absolute;
  top: 56%;
  transform: translate(-50%, -50%);
}

/*.sd-row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}*/

/* No Data */

.sd-nodata-container {
  background: #f7f7f7;
  height: 100%;
  min-height: 330px;
  position: relative;
}

.sd-nodata-description {
  left: 50%;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 57%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 500px;
  font-size: 14px;
  overflow: inherit;
}

.sd-nodata-description h2 {
  font-family: 'thesun-heavy-narrow';
  margin: 0;
  padding: 25px 0 15px;
}

.sd-nodata-description p {
  font-size: 14px;
  margin: 0;
  padding-bottom: 5px;
  text-transform: unset;
}

.sd-nodata-img {
  left: 50%;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: -20px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 80px;
  background: url('./Images/no-data.png') no-repeat;
  background-size: contain;
  height: 90px;
}

/* Fonts */

// THE SUN
@font-face {
  font-family: 'thesun-regular';
  src: url('./fonts/thesun/regular/thesun-regular.eot');
  src: url('./fonts/thesun/regular/thesun-regular.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/thesun/regular/thesun-regular.woff2') format('woff2'),
    url('./fonts/thesun/regular/thesun-regular.woff') format('woff'),
    url('./fonts/thesun/regular/thesun-regular.ttf') format('truetype'),
    url('./fonts/thesun/regular/thesun-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'thesun-medium';
  src: url('./fonts/thesun/medium/thesun-medium.eot');
  src: url('./fonts/thesun/medium/thesun-medium.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/thesun/medium/thesun-medium.woff2') format('woff2'),
    url('./fonts/thesun/medium/thesun-medium.woff') format('woff'),
    url('./fonts/thesun/medium/thesun-medium.ttf') format('truetype'),
    url('./fonts/thesun/medium/thesun-medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'thesun-bold';
  src: url('./fonts/thesun/bold/thesun-bold.eot');
  src: url('./fonts/thesun/bold/thesun-bold.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/thesun/bold/thesun-bold.woff2') format('woff2'),
    url('./fonts/thesun/bold/thesun-bold.woff') format('woff'),
    url('./fonts/thesun/bold/thesun-bold.ttf') format('truetype'),
    url('./fonts/thesun/bold/thesun-bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'thesun-heavy-condensed';
  src: url('./fonts/thesun/heavy-condensed/thesun-heavycondensed.eot');
  src: url('./fonts/thesun/heavy-condensed/thesun-heavycondensed.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/thesun/heavy-condensed/thesun-heavycondensed.woff2')
      format('woff2'),
    url('./fonts/thesun/heavy-condensed/thesun-heavycondensed.woff')
      format('woff'),
    url('./fonts/thesun/heavy-condensed/thesun-heavycondensed.ttf')
      format('truetype'),
    url('./fonts/thesun/heavy-condensed/thesun-heavycondensed.svg')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'thesun-heavy-narrow';
  src: url('./fonts/thesun/heavy-narrow/thesun-heavynarrow.eot');
  src: url('./fonts/thesun/heavy-narrow/thesun-heavynarrow.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/thesun/heavy-narrow/thesun-heavynarrow.woff2') format('woff2'),
    url('./fonts/thesun/heavy-narrow/thesun-heavynarrow.woff') format('woff'),
    url('./fonts/thesun/heavy-narrow/thesun-heavynarrow.ttf') format('truetype'),
    url('./fonts/thesun/heavy-narrow/thesun-heavynarrow.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
